 
 body{
  background-image: linear-gradient(to right, red,blue, yellow);

} 
input[type="text"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 100%;
  background-color: #4caf50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.box {
  opacity: 0.85;
  border-radius: 5px;
  background-color: white;
  padding: 18px 20px;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.2);
  height: 428px;
  width: 400px;
  position: absolute;
  top: 55%; /*Para que se centre verticalmente*/
  left: 50%; /*Para que se centre*/
  transform: translate(-50%, -50%); /*Para que se centre*/
}

textarea {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  text-decoration: none;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.titulo {
  position: absolute;
  font-size: 55px;
  top: 55%; /*Para que se centre verticalmente*/
  left: 50%; /*Para que se centre*/
  transform: translate(-50%, -600%);
  
}
.titulo2 {
  position: absolute;
  font-size: 40px;
  top: 50%; /*Para que se centre verticalmente*/
  left: 50%; /*Para que se centre*/
  transform: translate(-50%, -50%);
}
.color {
  text-align: center;

  background: linear-gradient(
    to bottom,
    rgb(6, 255, 246) 20%,
    rgb(233, 11, 159) 20%,
    rgb(0, 0, 0) 80%,
    rgb(255, 255, 255) 80%
  );
  color: #000;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  text-shadow: 0px 8px 10px rgba(187, 8, 8, 0.9);
}
.transaccion{
  transition: 0.3s 0.1s;/*velocidad de la transicion*/ /*tiempo de espera para realizar transaccion*/
}
.transaccion:hover{/*cuando el mouse este encima*/
  transform: scale(1.03);/*aumenta el tamaño*/
  background-color: #308533;
}
